
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    <title>Please sign in</title>-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
<!--    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <form class="form-signin" method="post">-->
<!--        <h2 class="form-signin-heading">Please sign in</h2>-->
<!--        <p>-->
<!--            <label for="username"></label>-->
<!--            <input type="text" class="form-control" id="username" placeholder="Username"-->
<!--                   name="username">-->
<!--            <label for="password"></label>-->
<!--            <input type="password" class="form-control" id="password" placeholder="Password"-->
<!--                   name="password">-->
<!--        </p>-->
<!--        <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--    </form>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login page</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <br><br>
            <form name="f" th:method="POST" class="form-signin" th:action="@{/login}">

                <h3><strong>Please sign in</strong></h3>
                <p>
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           name="username">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           name="password">
                </p>
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            </form>
        </div>
    </div>
</div>





<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">-->
<!--            <br><br>-->
<!--            <form name="f" th:method="POST" class="form-signin" th:action="@{/process_login}">-->

<!--                <h3><strong>Please sign in</strong></h3>-->

<!--                <div class="form-group">-->
<!--                    <input type="email" class="form-control" name="username" id="email" aria-describedby="emailHelp" placeholder="Email address"/>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>-->
<!--                </div>-->

<!--                <button type="submit" class="btn btn-primary btn-lg btn-block" value="Login">Sign in</button>-->

<!--                <br>-->

<!--                <div class="col-12" th:if="${param.error}" style="color: red">-->
<!--                    <h6>Wrong email address or password!</h6>-->
<!--                </div>-->

<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>